.wszystkieKupony{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: stretch;
}
.kupon{
    font-size: 15px;
    border: 1px solid rgb(87, 81, 81);
    margin: 20px 0 10px 0;
    padding: 10px 10px 3px 10px;
    display: flex;
    flex-direction: column;
    width: 45rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 3px;

}
.kupon-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.kupon-mid  {
    display: flex;
    flex-direction: row;
    margin: .7em 0 .4em 0;
}

.kupon-bottom  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.x-c-1{
    flex-grow: 2;
}

.x-c-2{
    flex-grow: 2;
    text-align: center;
}

.x-c-3{
    flex-grow: 3;
    text-align: right;
}
.kupon-header {
    font-size: larger;
}




.kupon-mid-L{
    width:35rem;
}
.kupon-mid-R{
    width: 10rem;

    text-align: right;
}

.zaklad{
    border-bottom: 1px solid #aaa;
    padding: 0 0 2px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .6rem;
}

.zaklad-pozycja{
    padding-right: 10px;
}

.col1{
    min-width: 24rem;
}
.col2{
    width: auto;
}
.data-meczu{
    text-align: right;
}
.bet{
    font-size: 14px;
    color: rgb(71, 46, 46);
}
.opis-std {
    color: #777;
}




.bg-icon-zaklad{
    width:20px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 12px;
    mask-size: 12px;

    -webkit-mask-position-y: 8px;
    mask-position-y: 8px;
}
.bg-nierozstrzygnięty{
    background-color: dimgray;
    -webkit-mask-image: url('/src/img/question-circle-solid.svg');
    mask-image: url('/src/img/question-circle-solid.svg');
}
.bg-wygrany{
    background-color: green;
    -webkit-mask-image: url('/src/img/check-solid.svg');
    mask-image: url('/src/img/check-solid.svg');
}
.bg-przegrany{
    background-color: red;
    -webkit-mask-image: url('/src/img/times-solid.svg');
    mask-image: url('/src/img/times-solid.svg');
}






/* DODAWANIE NOWEGO ZAKLADU */
/* DODAWANIE NOWEGO ZAKLADU */
/* DODAWANIE NOWEGO ZAKLADU */

.noway-zaklad-all{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.nowy-zaklad-template{
    display: flex;
    flex-direction: row;
}

.nowy-zaklad-template-formularz {
    margin: 10px 0 0 0px;
    display: flex;
    flex-direction: column;
}
.nowy-zaklad-temp-upper{

    display: flex;
    flex-direction: column;
}
.nowy-zaklad-temp-lower{

    display: flex;
    flex-direction: row;
}



.nowy-zaklad-collumn{
    border-bottom: 1px solid #555;

    display: flex;
    flex-direction: column;
    padding: 0 14px 5px 3px;
}
/*
    FORM
    FORM
    */
#form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-header-col{
    display: flex;
    flex-direction: row;
}
.nowy-zaklad-button-div{
    margin-right: 25px;
}
.input-stawka{
    margin-left: 10px;
    height: 20px;
    width: 80px;
}
.nz-mecz-head{
    display: flex;
    justify-content: space-between;
    border: none;
    margin-bottom: 2px;
}




.nowy-zaklad-form{
    display: block;


}
.kupons-tags{
    font-size: 12px;
}


.nowy-zaklad-form-podwojny-select{
    display: flex;
    flex-direction: column;
}


.dodajNowyKuponPrzycisk:hover, .dodaj-kolejny-zaklad-przycisk:hover, .usun-zaklad-przycisk:hover{
    cursor: grab;
}
.dodajNowyKuponPrzycisk{
    border: 1px solid #555;
    font-size: 30px;
    width: 13.5rem;
    margin: 12px 0 0 31.5rem;

    padding: 3px 45px 2px 4px ;
    background-image: url('/src/img/plus-square-solid.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40px;
    border-radius:6px;
}
.dodajNowyKuponPrzycisk-text{
    font-size: 30px;
    font-family: Helvetica, sans-serif;

}




.dodaj-kolejny-zaklad-przycisk{
    width: 30px;
    font-size: 30px;
    margin: 10px 0 0 0;

}
.usun-zaklad-przycisk{
    margin: 29px 0 0 5px;
}

/*TAGI*//*TAGI*//*TAGI*/

.tags-div{
    display: flex;
    flex-direction: column;
    position: relative;
}


.tags-div:hover > .form-tags-all-checkboxs{
   display: flex;
    flex-direction: column;
}

.form-tags-all-checkboxs{
    position: absolute;
    left: -2px;
    border-left: 1px solid #ccc;
    top: 20px;
    order: 1;
    display: none;
    width: 150px;
    background-color: #888;

}

.form-tag-p{
    padding: 2px 0 0 0;
    color: #fff;
border-bottom: 1px solid black;
}
.checkbox-tag{
    width:30px !important;
}





















 /*KONIEC*/
 /*KONIEC*/
 /*KONIEC*/
 /*KONIEC*/
 /*KONIEC*/
 /*KONIEC*/


.wygrany{
    color: #229922;
    text-shadow: 0 1px black;
}
.przegrany{
    color: red;
    text-shadow: 0 1px black;
}
.nierozstrzygnięty{
    color: gray;
    text-shadow: 0 1px black;
}

