
.sidebar{


}
.sidebar-content{    display: flex;
    flex-direction: column;

    padding: 0 20px 20px 20px;
    margin:20px 0 0 20px;
    border-right: 1px solid #aaa;
}

.sidebar-content > *{
    margin-top: 12px;
}


.filtr-text:focus{
    outline: none;

}
.filtr-text{
    padding: 3px 1px;
}

.filtr-row{
    display: flex;
    align-items: center
}
.text-font{
    font-family: "Helvetica Neue",Helvetica,Arial;
    text-transform: capitalize;
}
.datetime-query {
    margin-left: 3px;
}
.filtr-row-tag{
    margin: 3px 0 0 10px;
}
.z-filtr-tag-checkbox{
    margin-right: 5px;

}


















.sid-bar-2 {
    padding: 0 20px 20px 0px;
    margin:20px 0 0 20px;
    width: 260px;
}

.sid-bar-2 > *{
    margin-top: 9px;
}


.stat-filtr-row-head{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.stat-filtr-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.stat-filtr-nmbr{
    width: 70px;

}



