
.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 220px;
    height: 300px;
    padding:20px;
    margin-left:20px;
    border-right: 1px solid black;
}

.sidebar > *{
    margin-top: 12px;
}


.filtr-text:focus{
    outline: none;

}
.filtr-text{
    padding: 3px 1px;
}

.filtr-row{
    display: flex;
    align-items: center
}
.text-font{
    font-family: "Helvetica Neue",Helvetica,Arial;
    text-transform: capitalize;
}
.datetime-query {
    margin-left: 3px;
}
.filtr-row-tag{
    margin: 3px 0 0 10px;
}
.z-filtr-tag-checkbox{
    margin-right: 5px;

}