body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #4DA250;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo{
    width: 50%;
    text-align: center;
}

.login-container{
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 40vh;
}


