*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.standard-content{
    display: flex;
    flex-direction: row;
}

.content{
    min-width: 820px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1 1 auto;

    align-items: stretch;
}

.content-right{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: stretch;
    width: 100%;

    /*padding-left: 25px;*/

}
footer {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: #ddd;

    width: 100vw;
    align-self: flex-end;
}
a{
    text-decoration: none;
}


.pointer:hover{
    cursor: pointer;
    text-shadow: 1px 1px #ccc;
}

.btn-color{
    background-color: rgb(77,162,80);
    background-color: rgba(0,212,255,1);
    background-color: #181818 ;

    color: white !important;

}