.zaklad{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 15px;
    background-color: #aaa;
    width: 500px;
}

.zaklady-filter > *{
    margin: 10px;
}













.zaklad-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #eee;
    padding: 10px;
    color: #000;
}

.zaklad-wartosc:nth-child(even) {background: #CCC}
.zaklad-wartosc:nth-child(odd) {background: #EEE}

.zaklad-wartosc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.zaklad-wartosc-id{
    width: 30px;
    text-align: right;
}
.zaklad-wartosc > *{
    margin: 3px 4px 2px 4px;
}
.zaklad-wartosc-wartosc{
    outline: none;
    border: none;
    padding: 0 3px ;
}




.gb-icon{
    margin: 3px 16px 0 16px;
    width: 16px;
    height: 18px;
    background-repeat: no-repeat;
}
.dodaj-waqrtosc-zakladu{
    background-image: url("/src/img/plus-solid.svg")
}
.usun-waqrtosc-zakladu{
    background-image: url("/src/img/minus-solid.svg")
}
.save-waqrtosc-zakladu{
    background-image: url("/src/img/save-solid.svg")
}
.undo-waqrtosc-zakladu{
    background-image: url("/src/img/undo-solid.svg")
}